*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: url(./img/bg.jpg);
    background-size: 100% 100vh;
    font-family: 'ComfortaaRegular'
}

.container {
    margin: 10rem 12rem;
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 8px
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    height: 25px;
    border: none;
    outline: none;
    background-color: rgb(255, 253, 140);
    padding: 4px;
    border-radius: 5px;
}

.btn {
    transform: scale(.5);
}

button {
    padding: 10px 25px;
    border: none;
    border-radius: 15px;
    background-color:  rgb(255, 253, 140);
    cursor: pointer;
}

.display {
    display: flex;
}

.main {
    font-size: 7rem;
}

span {
    font-size: 2rem;
    position: absolute;
    font-weight: bolder;
}

h3 {
    font-size: 3.5rem;
}

ul { 
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex: 2;
}

.toggle {
    align-self: flex-end;
}